.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
}
.project-title{
    color: #fff;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    padding: 10px;
}
.project-description{
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}
.btn{
    color: #000;
    font-size: 20px;
    font-family: "Roboto";
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}
.active-btn{
    background-color: #FD6F00;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto";
    border-radius: 10px;
    margin-top: 20px;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.project-img{
    height: 500px;
    width: 250px;
    margin: 20px;
    background-size: cover;

}
.project-item{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.project-item-title{
    color: #FD6F00;
    font-size: 20px;
    font-size: "Roboto";
    padding-left: 20px;
}
.project-item-description{
    color: #fff;
    font-size: 18px;
    font-size: "Roboto";
    padding-left: 20px;
}