.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
}
.contact-heading{
    color: #fff;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    padding: 10px;
}
.contact-text{
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}
.contact-form{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.contact-input{
    height: 30px;
    width: 300px;
    color: #000;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
}
.contact-button{
    height: 55px;
    width: 130px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    background-color: #FD6F00;
}